<h1><%= @dininghall.name %></h1>
<% if @dininghall.open? %>
  <p><%= @dininghall.name %> is currently open for <%= @dininghall.meal %></p>
<% else %>
  <p><%= @dininghall.name %> is closed right now</p>
<% end %>